

h1, 
h2, 
h3 {
font-family: 'Playfair Display', serif;
font-style: italic;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;;
}

a {
    font-style: italic;
}

.pruh
{
    background-color: #f9e3d0;
}

.footer
{
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section 
{
padding: 50px 15%
}


.foto-pruvodce {
    border-radius: 0 50px 50px 50px;
}

.foto-kontakt {
    border-radius: 50px 0 50px 50px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #282425;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #756158;
}


/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/

.foto-omne {
    width: 200px;
    border-radius: 50%;
}

#fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}
.hlavicka {
    background-image: url("obrazky/hlavicka.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 30px;
}
